{[{define "key"}]}showStyledMessage{[{end}]}
{[{define "title"}]}
OpenDriversLog
{[{end}]}
{[{define "navItems"}]}{[{end}]}
{[{define "helpText"}]}
Die Hilfe für diese Seite fehlt - bitte kontaktieren Sie uns, damit wir das schnellstmöglich beheben. Danke!
{[{end}]}
{[{define "content"}]}
<paper-material elevation="3">
    <div id="message" class="message">
        {[{.Data.Message}]}
    </div>
</paper-material>
{[{end}]}
{[{define "head"}]}
<link rel="import" href="./public/bundledImports/layout.html">
{[{end}]}
{[{define "bottomBody"}]}
{[{end}]}